body {
    margin: 0;
    padding: 0;
}

.left-main {
    float: left;
    position: fixed;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

.left-main-bg {
    width: 100%;
    height: 100%; 
    background-image: url(../pics/city.jpg);
    background-size: cover;    
    background-image: url(../pics/city.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-right: 0;
}

.left-main-bg-blur {
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(7px);
}

.left-main-content {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    z-index: 1;
}

.right-main {
    float: right;
    width: 70%;
    height: 100%;
    background-size: cover;
}

.iconfont {
    width: 20px;
}

.border {
    border-style: none;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.head-image {
    width: 100px;
}

.sign-common {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Lobster;
    text-align: center;
    color: white;
}

.name {
    font-size: 25px;
}

.sign {
    font-size: 15px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.menu-table {
    width: 80%;
    height: 65%;
    margin-left: 15%;
    font-family: Lobster;
    font-size: 17px;
    color: white;
}

.aticle-image {
    width: 180px;
}

.artical-header {
    font-family: Lobster;
    font-size: 25px;
    color: black;
}

.recommend-text {
    margin-left: 40px;
    margin-top: 20px;
}

.recommend-inline {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.article-list {
    width: 100%;  
    height: 35%;  
    list-style-type: none;
    display: inline-block;
}

.left-article {
    float: left;
    margin-top: 25px;
    width: 20%;
    height: 20%;
}

.right-article {
    float: right;
    width: 75%;
    height: 20%;
}

li {
    width: 100%;
    list-style-type: none;
    display: inline-block;
    height: 40%;
    overflow: auto;
    white-space: normal;
    margin-bottom: 2px;
}

.article-list-img {
    float: left; 
    width: 20%;
    height: 20%;
    margin-top: 25px;   
}
.article-list-content {
    float: right;
    width: 80%;
    height: 20%;
}

.artical-timer {
    font-size: 13px;    
}

.artical-header {
    font-family: Lobster;
    font-size: 25px;
    color: black;
}

.recommend-text {
    margin-left: 40px;
    margin-top: 20px;
    font: Lobster;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.recommend-inline {
    font-size: 15px;
    font: Lobster;
    color: rgba(0, 0, 0, 0.8);
}

.artical-timer {
    font-size: 13px;
    font: Lobster;
    color: rgba(0, 0, 0, 0.5);
}

.artical-text {
    margin-bottom: 10%;
    font: Lobster;
    font-size: 15px;    
    color: rgba(0, 0, 0, 0.8);    
}

.recommend-pic {
    width: 100%;
    margin-top: 10px;
}

.other-artical {
    height: 20%;
    margin-top: 20px;
    font-size: 15px;
    font: Lobster;
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 12%;
}

.recommend-pic {
    margin-top: 10px;
    width: 100%;
}

.other-artical {
    margin-top: 20px;
    height: 20%;
    margin-left: 20px;
    font: Lobster;
}

.other-artical-left {
    margin-left: 10px;
    margin-right: 10px;
}

.other-artical-right {
    margin-left: 10px;
}

.other-artical-pic {
    height: 140px;
}

.click-link {
    text-decoration: none;
}