
body {
    margin: 0;
    padding: 0;
}

.left-main {
    position: fixed;
    margin-left: 0 auto;
    float: left;
    width: 30%;
    height: 100%;
    background-image: url(../pics/cover.jpg);
    background-size: cover;
}

.right-main {
    float: right;
    width: 70%;
    height: 100%;
    background-size: cover;
}

.iconfont {
    width: 20px;
}

.border {
    border-style: none;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 0px;
}

.head-image {
    width: 100px;
}

.sign-common {

    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Lobster;
    text-align: center;
    color: white;
}

.name {
    font-size: 25px;
}

.sign {
    font-size: 15px;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.menu-table {
    width:80%;
    margin-left:15%;
    height: 65%;
    font-family: Lobster;
    font-size:17px;
    color: white;
}

.left-article{
    float: left;
    margin-top: 25px;
    width: 20%;
    height: 20%;
}
.right-article{
    float: right;
    width: 75%;
    height: 20%;
}
.aticle-image {
   width: 200px;
}

li{
    width:100%;
    list-style-type: none;
    display: inline-block;
    height:35%;
    overflow: auto;
    white-space: normal;
}
.artical-header{
    font-family:Lobster;
    font-size:25px;
    color:black;
}

.recommend-text{
    height:60%;
    margin-left:40px;
    margin-top:20px;
    font:Lobster;
}

.recommend-inline{
    font-size:15px;
    font:Lobster;
    color:rgba(0, 0, 0, 0.8);
}

.artical-timer{
    font-size:13px;
    font:Lobster;
    color:rgba(0, 0, 0, 0.5);
}

.artical-text{
    font-size:15px;
    font:Lobster;
    color:rgba(0, 0, 0, 0.8);
    margin-bottom:10%;
}

.recommend-pic{
    margin-top:10px;
    height:60%;
    width:100%;

}

.other-artical{
    margin-top:20px;
    height:20%;
    margin-left:20px;
    font:Lobster;
}

.other-artical-left{
    margin-left:10px;
    margin-right:10px;
}

.other-artical-right{
    margin-left:10px;
}
.other-artical-pic{
    height:140px;

}

.click-link{
    text-decoration:none;
}