*{
    margin: 0;
    padding: 0;
}

h1{
    font-size: 30px;
    font: Lobster;
    margin-bottom: 3%;
}

h2{
    font-size: 13px;
    font: Lobster;
    margin-bottom: 3%;
    color: rgba(0, 0, 0, 0.5);
}

.content{
    width: 50%;
    margin-left: 25%;
}

.content p{
    margin-bottom: 5%;
}

.top-menu{
    float: left;
    width: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.top-name{
    font-family: Lobster;
    font-size: 25px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.top-head{
    float: right;
    border-radius: 50%;
    width: 30px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    margin-bottom: 10px;
    background-color: white;
}