*{
    margin: 0;
    padding: 0;
}

h1{
    margin-bottom: 3%;
    font-size: 30px;
    font: Lobster;
}

h2{
    margin-bottom: 3%;
    font-size: 13px;
    font: Lobster;
    color: rgba(0, 0, 0, 0.5);
}

.content{
    width: 50%;
    margin-left: 25%;
}

.content p{
    margin-bottom: 5%;
    text-indent: 2em;
    text-align: justify;
    font: Lobster;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color:rgb(54, 52, 52);
}

.top-menu{
    float: left;
    width: 25px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.top-name{
    margin-bottom: 10px;
    font-family: Lobster;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
}

.top-head{
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    width: 30px;
    border-radius: 50%;
}

.sticky{
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    background-color: white;
    z-index: 1;
}