*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-size: cover;
    font-family: Helvetica, arial, tahoma, verdana;
    -webkit-font-smoothing: antialiased;
}

.timeline{
    @media (min-width: 992px);
    display: table;
    text-align: center;
    line-height: 1.4em;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;   
}

.timeline h1,h2,h3,h4,h5,h6 {
    color:turquoise;
    font-weight: 900;
    font-size: 25px;
}

.timeline-item{
    display: block;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 0px;
    position: relative;
    overflow: hidden;
}

.timeline-item:last-child{
    padding-bottom: 0;
}

.timeline-info{
    display: block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
    padding-right: 3%;
    text-transform: uppercase;
    white-space: nowrap;
}

.timeline-info span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background: linear-gradient(to right, rgb(184, 224, 220),rgb(62, 144, 158),rgb(33, 121, 128),rgb(40, 99, 175)
    ,rgb(17, 17, 116));
    -webkit-background-clip: text;
    color: transparent;
}

.timeline-marker{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 15px;
    margin-left: -7.5px;
}

.timeline-marker::before{
    background: turquoise;
    border: 3px solid transparent;
    border-radius: 100%;
    content: "";
    display: block;
    height: 15px;
    position: absolute;
    text-align: center;
    top: 2px;
    left: -2px;
    width: 15px;
    transition: background 0.3s ease-in-out,
                border 0.3s ease-in-out;
}

.timeline-marker::after{
    content: "";
    width: 3px;
    background: whitesmoke;
    display: block;
    position: absolute;
    top: 24px;
    bottom: 0;
    left: 45%;
}

.timeline-marker .timeline-item:last-child::after{
    content: none;
}

.timeline-item:not(.period):hover .timeline-marker::before{
    background: transparent;
    border: 3px solid turquoise;
}

.timeline-item:nth-child(even) .timeline-info{
    float: left;
    text-align: right;
    width: 46%;
}

.timeline-item:nth-child(even) .timeline-content{
    float: right;
    text-align: left;
    padding-right: 3%;
    width: 43%;
}

.timeline-item:nth-child(odd) .timeline-info{
    float: right;
    text-align: left;
    width: 43%;
}

.timeline-item:nth-child(odd) .timeline-content{
    float: left;
    text-align: right;
    width: 43%;
}

.timeline-item .period .timeline-content{
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
}

.timeline-item .period{
    padding: 50px 0 90px;
}

.timeline-content{
    display: block;
    width: 40%;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    padding-left: 4%;
    color: rgb(158, 157, 157);
}

.timeline-content h3{
    padding-bottom: 30px;
}

.timeline-content p{
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5em;
}

.timeline-content p:last-child{
    margin-bottom: 0;
}

.period{
    padding: 0;
}

.period .timeline-info{
    display: table-cell;
    vertical-align: top;
    display: none;
}

.period .timeline-marker::before{
    background: transparent;
    content: "";
    width: 15px;
    height: auto;
    border: none;
    border-radius: 0;
    top: 0;
    left: 0;
    bottom: 30px;
    position: absolute;
    border-bottom: 3px solid #ccd5db;
}

.period .timeline-marker::after{
    content: "";
    height: 30px;
    bottom: 0;
    top: auto;
}

.period .timeline-content{
    padding: 40px 0 70px;
}


.period .timeline-title{
    display: block;
    padding-top: 3%;
    padding-bottom: 0;
    text-align: center;
    position: relative;
    left: auto;
    margin-top: 5px;
    margin-bottom: -30px;
}

